a {
  text-decoration: none;
}
body {
  margin: 0 auto;
}
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
.icon {
  max-height: 48px;
  vertical-align: middle;
  cursor: pointer;
}
