a {
  text-decoration: none;
}
body {
  margin: 0 auto;
}
table {
    border-collapse: collapse;
}

@media (min-width: 700px) {
  body {
    width: 960px;
  }
}

/* .pc_disp_none{
  display: none;
}

.sp_disp_none{
  display: none;
}
 */
