<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>sign</title>
    <!-- <link rel="shortcut icon" href="/favicon.ico"> -->
    <!-- <script src="/plugin/min.js"></script> -->
    <link rel="stylesheet" href="/css/common.css" />
    <meta name="viewport" content="width=device-width, user-scalable=no" >
  </head>
<body>

<style>

.main {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 700px) {
  .signin {
    width: 45%;
    margin: 2%;
  }
  .signup {
    width: 45%;
    margin: 2%;
  }
}
@media (max-width: 700px) {
  .signin {
    width: 90%;
    margin: 5% auto;
  }
  .signup {
    width: 90%;
    margin: 5% auto;
  }
}

input {
  border-radius: 10px;
  width: 70%;
  display: block;
  margin: 10px;
  padding: 10px;
}
input[type=date] {
  width: 40%;
  display: inline-block;
}

</style>

<div class="main">
  <div class="signin">
    <div class="login-form-inner">
      <button id="google-login" class="btn-default btn-sns btn-sns-google">
        {{ index .I18n "1" }}
      </button>
      <button id="facebook-login" class="btn-default btn-sns btn-sns-facebook">
        <i class="icon-facebook"></i>
        {{ index .I18n "2" }}
      </button>
      <button id="facebook-login" class="btn-default btn-sns btn-sns-facebook">
        <i class="icon-facebook"></i>
        {{ index .I18n "3" }}
      </button>
    </div>
    <div>
      <form id="login" onsubmit="login()">
      <input type="email" name="email" placeholder='{{ index .I18n "4" }}' required 
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title='{{ index .I18n "5" }}' >
      <input type="password" name="password" placeholder='{{ index .I18n "6" }}' required
       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,12}$" 
       title='{{ index .I18n "7" }}' >
      <input type="submit" value='{{ index .I18n "8" }}'>
      </form>
    </div>
  </div>
  <div class="signup">
    <div>
      <form id="register" onsubmit="registering()">
      <input type="email" name="email" placeholder='{{ index .I18n "4" }}' required 
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="emailのフォーマットを入力" >
      <input type="password" name="password1" placeholder='{{ index .I18n "6" }}' required
       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" 
       title='{{ index .I18n "7" }}' >

      <input type="password" name="password2" placeholder='{{ index .I18n "9" }}' required 
      oninput="check(this)" >
      <input type="text" name="familyName" placeholder='{{ index .I18n "10" }}' required pattern="[^/#&?%.\-+_=@ '&quot;]+">
      <input type="text" name="givenName" placeholder='{{ index .I18n "11" }}' required pattern="[^/#&?%.\-+_=@ '&quot;]+">
      <div style="margin-left: 5%;">{{ index .I18n "12" }}<input type="date" name="birthday" required></div>
      <input type="submit" value='{{ index .I18n "13" }}' > 
      <!-- onclick="showErr()" -->
      </form>
    </div>
  </div>
</div>


<style>
.footer {
  padding: 10px;
  background-color: black;
}
.footer a {
  padding: 2px 10px;
  font-size: 14px;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  color: whitesmoke;
}
</style>

<div class="footer">
<a href="/">{{ index .Footer "1" }}</a><a href="/">{{ index .Footer "2" }}</a>
<a href="/">{{ index .Footer "3" }}</a><a href="/">{{ index .Footer "4" }}</a>
<a href="/">{{ index .Footer "5" }}</a><a href="/">{{ index .Footer "6" }}</a>
<a href="/">{{ index .Footer "7" }}</a>
<div style="padding:10px;color:silver;">Copyright(c) Ltd. All rights reserved.</div>
</div>

<script>
var passwordMatch = '{{ index .I18n "14" }}';
function handleForm(event) { event.preventDefault(); } 

document.getElementById("login").addEventListener('submit', handleForm);
function login () {
  var fd = new FormData(document.getElementById('login'));
  fetch('/login/',{method:'POST',cache:'no-cache',body:fd})
    .then((res) => {return res.json();}) //if (!res.ok) { throw new Error(`${res.status} ${res.statusText}`);}
    .then((res) => {
      console.log(res);
      console.log(res["Status"]);
      if(res["Status"] == 1){
        // location.href = res["Redirect"];
      }
    }); //.catch((reason) => {console.log(reason);})
}

document.getElementById("register").addEventListener('submit', handleForm);
function registering () {
  var fd = new FormData(document.getElementById('register'));
  fetch('/registerEmail/',{method:'POST',cache:'no-cache',body:fd})
    .then((res) => {return res.json();})
    .then((res) => {
      console.log(res);
      console.log(res["Status"]);
    });
}
function check(input) {
  if (input.value != document.getElementsByName("password1")[0].value) {
      input.setCustomValidity(passwordMatch);
  } else {
      input.setCustomValidity('');
  }
}

// function showErr () {
//   document.querySelector('.error').style.display = "block";
// }

</script>

</body>
</html>

